.bd-grid-row {
    position: relative;
}

::deep .bd-input-cell {
    border: none;
    padding: 2px;
    margin: 0;
    width: 100%;
    font-weight: inherit;
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    vertical-align: inherit;
    text-align: inherit;
}

::deep .bd-input-cell:focus {
    border: none;
}

::deep .bd-cell-wrapper {
    border-radius: 0;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.button-delete-row {
    width: 2em;
    background-color: lightpink;
    font-weight: bold;
}