.bd-grid-row {
    
}

::deep .bd-input-cell {
    border-radius: 0;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    display: inline-block;
    padding: 2px;
    margin: 0;
}

::deep .bd-checkbox-cell-wrapper {
    text-align: center;
}

.button-delete-row {
    width: 2em;
    background-color: lightpink;
    font-weight: bold;
}