.bd-grid-header-row[b-hjgl0bpt76] {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.bd-grid-header[b-hjgl0bpt76] {
    display: inline-block;
    font-weight: bold;
    border: 1px solid darkgray;
    background-color: lightgray;
}