@inherits BdInputCell<bool?>

<div class="bd-cell-wrapper bd-input-cell" style="@Style">
    <input class="bd-input-cell" 
           type="checkbox"
           @bind="TypedValue"
           @onfocusout="@FocusOut"
           disabled="@(!IsEditable)"/>
</div>