@inherits BdInputCell<DateTime?>

<div class="bd-cell-wrapper" style="@Style">
    <input class="bd-input-cell"
           type="datetime-local"
           @bind="TypedValue"
           @onfocusout="@FocusOut"
           disabled="@(!IsEditable)" />
</div>