@inherits BdInputCell<double?>

<div class="bd-cell-wrapper" style="@Style">
    <input class="bd-input-cell"
           type="number"
           @bind="TypedValue"
           @onfocusin="@FocusIn"
           @onfocusout="@FocusOut"
           disabled="@(!IsEditable)" />
</div>