@page "/"
@namespace BlazorApps.Demo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BlazorApps.Demo</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="_content/CedarRiverTech.BlazorApps.BlazorMusicKeyboard/CedarRiverTech.BlazorApps.BlazorMusicKeyboard.bundle.scp.css" rel="stylesheet">
    <link href="_content/CedarRiverTech.BlazorApps.BlazorDataGrid/CedarRiverTech.BlazorApps.BlazorDataGrid.bundle.scp.css" rel="stylesheet">
    <link href="_content/CedarRiverTech.BlazorApps.BlazorScrumPoker/CedarRiverTech.BlazorApps.BlazorScrumPoker.bundle.scp.css" rel="stylesheet">
    <link href="_content/CedarRiverTech.BlazorApps.BlazorCharts/CedarRiverTech.BlazorApps.BlazorCharts.bundle.scp.css" rel="stylesheet">
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>