<div style="padding: 60px; position: absolute; width: 100%;">
    @for (var i = 0; i < Values.Length; i++)
    {
        var value = Values[i];
        var topOffset = i < 5
            ? 75 - (i * 15)
            : (i - 4) * 15;
        var leftOffset = (5 * i) + 5;
        var rotation = -40 + (i * 10);
        <ScrumCard Value="value" Clickable="true" CardClicked="@OnCardClicked" LeftPct="@leftOffset" Top="@topOffset" Rotation="@rotation" />
    }
</div>


@code {
    [Parameter]
    public double[] Values { get; set; } = {
        0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100
    };

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public EventCallback<Tuple<string, double>> OnCardClickedCallback { get; set; }

    private async Task OnCardClicked(double value)
    {
        await OnCardClickedCallback.InvokeAsync(new Tuple<string, double>(UserName, value));
    }
}